.card{
    border: 1px solid gray;
    border-radius: 10px;
}

.card-body{
    padding: 30px;
}

.card-img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-btn{
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}